@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body{
    font-family: 'Nunito', sans-serif;
}
:root{
    --primary-clr: #6C63FF;
}
hr{
    margin: 2rem 0 ;
}
/* container */
.container{
  padding: 0rem 1rem;  
}
.container-center{
    max-width: 600px;
    margin: auto;
}
/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background: var(--primary-clr);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary{

    border: 2px solid var(--primary-clr);
    border-radius: 0.5rem;
  
}